@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Genos:wght@200&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Genos:wght@200&family=Lobster&display=swap");

/* Navbar container */
.navbar {
  /* position:absolute !important; */
  margin: 0.4rem;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  /* font-size: 2rem; */
  /* position:sticky; */
  z-index: 2;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.hello {
  display: inline-block;
  position: absolute;
  left: 1200px;
  top: 0.7rem;
  margin: 0 auto;
  font-family: "Love Light", cursive;
  font-size: 2rem;
}
/* nav------------------------------------- */
/* main content */
/* meta */
/* // For Baeutiful Heading
font-family: 'Cinzel', serif;
font-family: 'Genos', sans-serif;
font-family: 'Lobster', cursive; */
/* // For Baeutiful Heading & Paragrap tag */
/* 
font-family: 'Cinzel', serif;
font-family: 'Genos', sans-serif;
font-family: 'Lobster', cursive; */
/* meta */
/* body{
  margin: 0;
  padding: 0;
  background: rgb(51, 40, 40);
  color:white;
  background-attachment: fixed;
} */
ul {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  /* position: relative;
  bottom:140px; */
  list-style: none;
}
li {
  list-style: none;
}

/* main content  */
.title-container {
  display: grid;
  place-items: center;
  font-family: "Genos", sans-serif;
  background-color: #86603ffd;
  margin: 0.4rem;
  font-weight: 700;
  /* background:url(../assets/images/1.jpg) */
}
.blur-container {
  display: grid !important;
  place-items: center !important;
}
/* #skills-container{
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  display: grid !important;
  place-items: center !important;
} */
/* #t{position:relative;top:6em} */
/* .list>li{font-size: 1rem;} */
#aboutMe {
  background: rgb(2, 2, 26) !important;
}
.lorem {
  color: white;
}
#projects > a {
  text-decoration: none;
  color: rgb(12, 6, 36);
  font-weight: 600;

  /* position: relative; */
}

body {
  background: url(./assets/images/t.jpg) no-repeat;
  font-family: "Genos", sans-serif;
  text-align: center;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid !important;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh;*/
  max-width: 90vw;
  min-width: 10vw;
  color: #fff;
  font-family: "Genos", sans-serif;
}

.blur {
  width: fit-content;
  height: fit-content;
  margin: 1rem;
  padding: 0.4rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-links {
  width: 5rem;
}
/* .contact{
  display:grid;
  place-items:center;
  grid-template-columns:1fr 1fr 1fr 1fr;
  /* grid-template-rows: ; 
} */
.socials {
  grid-column: 3/4;
}
.blur > h1 {
  text-align: center;
}
.f {
  font-size: 3rem;
}
#pro {
  color: #d8b393fd !important;
  font-size: rem;
}

.blur:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(40px);
  margin: -20px;
}
#about-container {
  display: grid;
  place-items: center;
}

/* main content  */
/* 
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  } */
.footer {
  background-color: #86603ffd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#foot li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}

/* main content */

/* btn to top */
#top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* btn to top */

/* typewriter */

#type {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: white;
}

/* Animation */
#type {
  animation: animated-text 5s steps(29, end) 2s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* typewriter */

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 30px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 100px;
}

/* scrollbar */
/* media */
/* Media Queries: Tablet Landscape */
/* @media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
} */

/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
} */
img {
  max-width: 100%;
  height: auto;
}
/* @media (min-width: 320px) {
  body {
    font-size: 0.5rem;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}
html {
  font-size: 100%;
} */
/* media */
